<div id="fi-alerts">
    {% for type in ['success', 'error', 'warning'] %}
        {% set messages = app.session.flashbag.get(type) %}

        {% if messages %}
            <div class="fi-alert {{ type }}">
                <img src="/bundles/uvbundlesfoundit/images/not_{{ type }}.png" title="{{ type|capitalize }}" />
                <ul>
                    {% for message in messages %}
                        <li>{{ message|raw }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
</div>