<!DOCTYPE html>
<html>
    <head>
        {% block header %}
            {% block meta %}
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% endblock meta %}
         
            {% block stylesheets %}
                {% stylesheets
                '@UVBundlesFoundItBundle/Resources/public/css/modern-ui/bootstrap.css'
                '@UVBundlesFoundItBundle/Resources/public/css/modern-ui/style.css'
                '@UVBundlesFoundItBundle/Resources/public/vendor/hover-effects/style_common.css'
                '@UVBundlesFoundItBundle/Resources/public/vendor/hover-effects/style3.css'
                '@UVBundlesFoundItBundle/Resources/public/css/main.css'
                output='css/style.css'
                combine=true
                filter="cssrewrite"
                %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
                {% endstylesheets %}
            {% endblock stylesheets %}
            <title>Found It</title>
        {% endblock header %}
    </head>

    <body id="fi-body" screen_capture_injected="true" class="gradient">
        <div id="fi-wrap" class="body_wrap" style="min-height: 976px;">
            {% block body %}
                {% block body_content %}
                    {% if content is defined %}
                        {{ content|raw }}
                    {% else %}
                        {% set content = block('content') %}
                        {% if content|length > 0 %}
                            {{ content|raw }}
                        {% endif %}
                    {% endif %}
                {% endblock body_content %}
            {% endblock body %}
        </div>
    </body>
</html>