<!DOCTYPE html>
<html>
    <head>
        {% block header %}
            {% block meta %}
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% endblock meta %}
         
            {% block stylesheets %}
                {% stylesheets
                '@UVBundlesFoundItBundle/Resources/public/css/modern-ui/bootstrap.css'
                '@UVBundlesFoundItBundle/Resources/public/css/modern-ui/style.css'
                '@UVBundlesFoundItBundle/Resources/public/css/modern-ui/animate.css'
                '@UVBundlesFoundItBundle/Resources/public/css/modern-ui/prettyPhoto.css'
                '@UVBundlesFoundItBundle/Resources/public/vendor/jquery-ui-1.11.0.custom/jquery-ui.theme.min.css'
                '@UVBundlesFoundItBundle/Resources/public/vendor/select2-3.5.1/select2.css'
                '@UVBundlesFoundItBundle/Resources/public/vendor/jquery-datetimepicker/jquery.datetimepicker.css'
                '@UVBundlesFoundItBundle/Resources/public/vendor/farbtastic/farbtastic.css'
                '@UVBundlesFoundItBundle/Resources/public/vendor/hover-effects/style_common.css'
                '@UVBundlesFoundItBundle/Resources/public/vendor/hover-effects/style3.css'
                '@UVBundlesFoundItBundle/Resources/public/css/main.css'
                %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
                {% endstylesheets %}
            {% endblock stylesheets %}
            <title>{% block title %}Found It | {% block subtitle %}{% endblock subtitle %}{% endblock title %}</title>
        {% endblock header %}
    </head>

    <body id="fi-body" screen_capture_injected="true" class="gradient">
        {% block body %}
            <div id="fi-wrap" class="body_wrap" style="min-height: 936px;">
                {% block page_container %}
                    <div id="fi-container" class="container">
                        {% block body_content %}
                            <div id="fi-content" class="content " role="main">
                                {% include 'UVBundlesFoundItBundle:Pages:menu.html.twig' %}
                                {% include 'UVBundlesFoundItBundle:Pages:alerts.html.twig' %}
                                <div id="fi-content-body">
                                    {% if content is defined %}
                                        {{ content|raw }}
                                    {% else %}
                                        {% set content = block('content') %}
                                        {% if content|length > 0 %}
                                            {{ content|raw }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                {% include 'UVBundlesFoundItBundle:Pages:footer.html.twig' %}
                            </div>
                        {% endblock body_content %}
                    </div>
                {% endblock page_container %}
            </div>
        {% endblock body %}
        
        
        {% block javascripts %}
            {% javascripts
            '@UVBundlesFoundItBundle/Resources/public/js/lib/modernizr.min.js'
            '@UVBundlesFoundItBundle/Resources/public/js/lib/jquery-1.10.0.js'
            '@UVBundlesFoundItBundle/Resources/public/vendor/jquery-ui-1.11.0.custom/jquery-ui.min.js'
            '@UVBundlesFoundItBundle/Resources/public/vendor/select2-3.5.1/select2.js'
            '@UVBundlesFoundItBundle/Resources/public/js/lib/bootstrap.min.js'
            '@UVBundlesFoundItBundle/Resources/public/js/modern-ui/general.js'
            '@UVBundlesFoundItBundle/Resources/public/js/modern-ui/jquery.onecarousel.min.js'
            '@UVBundlesFoundItBundle/Resources/public/js/modern-ui/jquery.prettyPhoto.js'
            '@UVBundlesFoundItBundle/Resources/public/js/modern-ui/jquery.powerful-placeholder.min.js'
            '@UVBundlesFoundItBundle/Resources/public/vendor/jquery-datetimepicker/jquery.datetimepicker.js'
            '@UVBundlesFoundItBundle/Resources/public/vendor/farbtastic/farbtastic.js'
            '@UVBundlesFoundItBundle/Resources/public/js/found.it.js'
            '@UVBundlesFoundItBundle/Resources/public/js/main.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}" ></script>
            {% endjavascripts %}
        {% endblock javascripts %}

        {# Inline javascripts #}
        {% block js %}{% endblock %}
    </body>
</html>