{% block topmenu %}
    <div id="topmenu">
        <ul class="dropdown clearfix boxed boxed-blue">
            <li class="link-more first"><a href="{{ url('uv_bundles_found_it_index') }}" hidefocus="true"><i></i></a></li>

            <li class="menu-level-0"><a href="{{ url('uv_bundles_found_it_main_home') }}" hidefocus="true"><span>Home</span></a></li>
            <li class="menu-level-0"><a href="{{ url('uv_bundles_found_it_main_search') }}" hidefocus="true"><span>Search</span></a></li>

            <li class="menu-level-0 parent"><a href="javascript: void(0);" hidefocus="true"><span>Report</span></a>
                <ul class="submenu-1">
                    <li class="menu-level-1 first"><a href="{{ url('uv_bundles_found_it_main_report_lost') }}" hidefocus="true">I lost something!</a></li>
                    <li class="menu-level-1"><a href="{{ url('uv_bundles_found_it_main_report_found') }}" hidefocus="true">I found something!</a></li>
                    {% if app.user %}
                        <li class="menu-level-1"><a href="{{ url('uv_bundles_found_it_main_report_my_reports') }}" hidefocus="true">My Reports</a></li>
                    {% endif %}
                </ul>
            </li>

            <li class="menu-level-0"><a href="{{ url('uv_bundles_found_it_main_about') }}" hidefocus="true"><span>About</span></a></li>
            <li class="menu-level-0"><a href="{{ url('uv_bundles_found_it_main_contact') }}" hidefocus="true"><span>Contact</span></a></li>

            <li class="menu-level-0 no-border-right">
                {% if app.user %}
                    <a href="{{ url('uv_bundles_found_it_main_auth_logout') }}" hidefocus="true"><span>Sign Out</span></a>
                {% else %}
                    <a href="{{ url('uv_bundles_found_it_main_auth') }}" hidefocus="true"><span>Sign In</span></a>
                {% endif %}
            </li>
            <li class="menu-search last">
				<img src="/extras/uvlogo.png" />
            </li>
        </ul>
    </div>
{% endblock %}