{% extends 'UVBundlesFoundItBundle:Pages:layout.html.twig' %}

{% block subtitle %}Error{% endblock %}

{% block content %}

    <div id="fi-error-page" class="fi-container">
        <div class="fi-container-title">
            <h1>Oops! Something went wrong.</h1>
        </div>

        <p>
            Sorry for inconvenience but you are accessing a broken resource.<br />
            If you suspect this as an error, please <a href="{{ url('uv_bundles_found_it_main_contact') }}">contact us</a> immediately to improve your experience.
            We would gladly entertain any reports.
        </p>
        <a href="{{ url('uv_bundles_found_it_main_home') }}">Return to home</a>
    </div>
{% endblock %}