{% block form_errors %}
    {% if errors|length > 0 %}
        <span class="fi-form-field-error">
            {% for error in errors %}
                {{ error.messageTemplate|trans(error.messageParameters, 'validators')~'. ' }}
            {% endfor %}
        </span>
    {% endif %}
{% endblock form_errors %}

{% block form_row %}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
{% endblock %}

{% block jquery_color_picker_widget %}
    <div class="fi-colorpicker-container">
        {{ block('form_widget_simple') }}
        <button type="button" class="btn-success" id="fi-colorpicker-reset">Reset</button>
        <div class="fi-colorpicker"></div>
    </div>
{% endblock %}