{% extends 'UVBundlesFoundItBundle:Pages:layout.html.twig' %}

{% block subtitle %}Login{% endblock %}

{% block content %}
    <div id="fi-login" class="fi-container">
        <div class="fi-container-title">
            <h1>Sign In to FoundIt</h1>
        </div>
        <form action="{{ path('uv_bundles_found_it_main_auth_check') }}" method="post">
            <div class="form-inner">
                <div class="field_text">
                    <label for="username" class="label_title">Username</label>
                    <input type="text" id="username" placeholder="Username" name="_username" value="{{ last_username }}" class="inputtext input_middle required" hidefocus="true" />
                </div>

                <div class="clear"></div>

                <div class="field_text">
                    <label for="password" class="label_title">Password</label>
                    <input type="password" id="password" placeholder="Password" name="_password" value="{{ last_username }}" class="inputtext input_middle required" hidefocus="true" />
                    <a href="{{ path('uv_bundles_found_it_main_register') }}" class="pull-right fi-padtop-10">Not Yet Registered?</a>
                </div>

                <div class="clear"></div>

                <div class="rowSubmit">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <span class="btn btn-icon-left"><input type="submit" id="send" value="Login" hidefocus="true" class="fi-submit-btn"></span>
                </div>
            </div>
        </form>
    </div>
{% endblock %}