{% extends 'UVBundlesFoundItBundle:Pages:layout.html.twig' %}

{% block subtitle %}Sign Up{% endblock %}

{%  form_theme fi.form 'UVBundlesFoundItBundle:Form:fields.html.twig' %}

{% block content %}
    <div id="fi-register" class="fi-container">
        <div class="fi-container-title">
            <h1>Sign Up to FoundIt</h1>
        </div>
        <form method="post" novalidate>
            <div class="form-inner">
                <div class="field_text">
                    <label for="username" class="label_title">Username</label>
                    {{ form_row(fi.form.username, { 'attr' : { 'placeholder' : 'Username', 'class' : 'inputtext input_middle required', 'hidefocus' : 'true' } }) }}
                </div>
                <div class="field_text">
                    <label for="password" class="label_title">Password</label>
                    {{ form_row(fi.form.password, { 'attr' : { 'placeholder' : 'Password', 'class' : 'inputtext input_middle required', 'hidefocus' : 'true' } }) }}
                </div>

                <div class="clear"></div>

                <div class="field_text">
                    <label for="firstname" class="label_title">First name</label>
                    {{ form_row(fi.form.firstname, { 'attr' : { 'placeholder' : 'First name', 'class' : 'inputtext input_middle required', 'hidefocus' : 'true' } }) }}
                </div>
                <div class="field_text">
                    <label for="lastname" class="label_title">Last name</label>
                    {{ form_row(fi.form.lastname, { 'attr' : { 'placeholder' : 'Last name', 'class' : 'inputtext input_middle required', 'hidefocus' : 'true' } }) }}
                </div>

                <div class="clear"></div>

                <div class="field_text">
                    <label for="type" class="label_title">Type</label>
                    {{ form_row(fi.form.type, { 'attr' : { 'class' : 'fi-field-type inputtext input_middle required', 'hidefocus' : 'true' } }) }}
                </div>
                <div class="field_text">
                    <label for="department" class="label_title">Department</label>
                    {{ form_row(fi.form.department, { 'attr' : { 'class' : 'fi-field-dept inputtext input_middle', 'hidefocus' : 'true' } }) }}
                </div>

                <div class="clear"></div>

                <div class="field_text">
                    <label for="email" class="label_title">Email</label>
                    {{ form_row(fi.form.email, { 'attr' : { 'placeholder' : 'Email', 'class' : 'inputtext input_middle required', 'hidefocus' : 'true' } }) }}
                    <a href="{{ path('uv_bundles_found_it_main_auth') }}" class="pull-right fi-padtop-10">Already registered?</a>
                </div>

                <div class="rowSubmit">
                    {{ form_rest(fi.form) }}
                    <span class="btn btn-icon-left"><input type="submit" id="send" value="Register" hidefocus="true" class="fi-submit-btn"></span>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        (function() {
            FI.injectSelectPlaceholder('.fi-field-type', ' - SELECT TYPE -')
              .injectSelectPlaceholder('.fi-field-dept', ' - SELECT DEPARTMENT -');
        })();
    </script>
{% endblock %}