{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set _preview      = block('preview') %}
{% set _form         = block('form') %}
{% set _show         = block('show') %}
{% set _list_table   = block('list_table') %}
{% set _list_filters = block('list_filters') %}
{% set _tab_menu     = block('tab_menu') %}
{% set _content      = block('content') %}
{% set _title        = block('title') %}
{% set _breadcrumb   = block('breadcrumb') %}
{% set _actions      = block('actions') %}
{% set _navbar_title = block('navbar_title') %}
<!DOCTYPE html>
<html {% block html_attributes %}class="no-js"{% endblock %}>
<head>
    {% block meta_tags %}
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {% endblock %}

    {% block stylesheets %}

        {% for stylesheet in admin_pool.getOption('stylesheets', []) %}
            <link rel="stylesheet" type="text/css"  href="{{ asset(stylesheet) }}"  />
        {% endfor %}

        <link rel="stylesheet" type="text/css" href="/bundles/uvbundlesfoundit/css/admin.css" />

    {% endblock %}

    {% block javascripts %}
        <script>
            window.SONATA_CONFIG = {
                CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
                USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %},
                USE_ICHECK: {% if admin_pool is defined and admin_pool.getOption('use_icheck') %}true{% else %}false{% endif %}
            };
            window.SONATA_TRANSLATIONS = {
                CONFIRM_EXIT:  '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
            };
        </script>

        {% for javascript in admin_pool.getOption('javascripts', []) %}
        <script src="{{ asset(javascript) }}" type="text/javascript"></script>
        {% endfor %}

    {% endblock %}

    <title>
        {% block sonata_head_title %}
            {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

            {% if _title is not empty %}
                {{ _title|raw }}
            {% else %}
                {% if action is defined %}
                    -
                    {% for menu in admin.breadcrumbs(action) %}
                        {% if not loop.first %}
                            {%  if loop.index != 2 %}
                                &gt;
                            {% endif %}

                            {{ menu.label }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif%}
        {% endblock %}
    </title>
</head>
<body {% block body_attributes %}class="sonata-bc skin-black fixed"{% endblock %}>
{% block sonata_header %}
    <header class="header">
        {% block logo %}
            {% spaceless %}
                <a class="logo" href="{{ url('sonata_admin_dashboard') }}">
                    {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                        <img src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}">
                    {% endif %}
                    {% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                        <span>{{ admin_pool.title }}</span>
                    {% endif %}
                </a>
            {% endspaceless %}
        {% endblock %}
        {% block sonata_nav %}
            {% if admin_pool is defined %}
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-left">
                        {% block sonata_breadcrumb %}
                            {% if _breadcrumb is not empty or action is defined %}
                                <ol class="nav navbar-top-links breadcrumb">
                                    {% if _breadcrumb is empty %}
                                        {% if action is defined %}
                                            {% for menu in admin.breadcrumbs(action) %}
                                                {% if not loop.last  %}
                                                    <li>
                                                        {% if menu.uri is not empty %}
                                                            <a href="{{ menu.uri }}">{{ menu.label|raw }}</a>
                                                        {% else %}
                                                            {{ menu.label }}
                                                        {% endif %}
                                                    </li>
                                                {% else %}
                                                    <li class="active"><span>{{ menu.label }}</span></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% else %}
                                        {{ _breadcrumb|raw }}
                                    {% endif %}
                                </ol>
                            {% endif %}
                        {% endblock sonata_breadcrumb %}
                    </div>
                </nav>
            {% endif %}
        {% endblock sonata_nav %}
    </header>
{% endblock sonata_header %}

{% block sonata_wrapper %}
    <div class="wrapper row-offcanvas row-offcanvas-left">
        {% block sonata_left_side %}
            <aside class="left-side sidebar-offcanvas">
                <section class="sidebar">
                    <ul class="sidebar-menu">
                        {% for i in ['department', 'user', 'item', 'settlement'] %}
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-leaf"></i><span>{{ i|capitalize }}s</span>
                                    <i class="fa pull-right fa-angle-left"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/admin/bundles/foundit/{{ i }}/create" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Add</a></li>
                                    <li><a href="/admin/bundles/foundit/{{ i }}/list" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
                                </ul>
                            </li>
                        {% endfor %}
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-cog"></i><span>More</span>
                                <i class="fa pull-right fa-angle-left"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="{{ url('uv_bundles_found_it_main_home') }}"><i class="fa fa-home"></i><span>Go to Public Page</span></a>
                                </li>
                                <li>
                                    <a href="{{ url('uv_bundles_found_it_main_auth_logout') }}"><i class="fa fa-arrow-left"></i><span>Logout</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
                        <a href="http://sonata-project.org" rel="noreferrer" target="_blank"><b>Sonata Project</b></a>
                    </p>
                </section>
            </aside>
        {% endblock sonata_left_side %}

        <aside class="right-side">
            {% block sonata_page_content %}
                <section class="content-header">
                    {% block sonata_page_content_header %}
                        {% block sonata_page_content_nav %}
                            {% if _tab_menu is not empty or _actions is not empty %}
                                <nav class="navbar navbar-default" role="navigation">
                                    {% block tab_menu_navbar_header %}
                                        {% if _navbar_title is not empty %}
                                            <div class="navbar-header">
                                                <span class="navbar-brand">{{ _navbar_title|raw }}</span>
                                            </div>
                                        {% endif %}
                                    {% endblock %}
                                    <div class="container-fluid">
                                        <div class="navbar-left">
                                            {% if _tab_menu is not empty %}
                                                {{ _tab_menu|raw }}
                                            {% endif %}
                                        </div>

                                        {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                                            <ul class="nav navbar-nav navbar-right">
                                                <li class="dropdown sonata-actions">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        {{ _actions|raw }}
                                                    </ul>
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </div>
                                </nav>
                            {% endif %}
                        {% endblock sonata_page_content_nav %}

                    {% endblock sonata_page_content_header %}
                </section>

                <section class="content">
                    {% block sonata_admin_content %}

                        {% block notice %}
                            {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
                        {% endblock notice %}

                        {% if _preview is not empty %}
                            <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                        {% endif %}

                        {% if _content is not empty %}
                            <div class="sonata-ba-content">{{ _content|raw }}</div>
                        {% endif %}

                        {% if _show is not empty %}
                            <div class="sonata-ba-show">{{ _show|raw }}</div>
                        {% endif %}

                        {% if _form is not empty %}
                            <div class="sonata-ba-form">{{ _form|raw }}</div>
                        {% endif %}

                        {% if _list_table is not empty or _list_filters is not empty %}
                            <div class="row">
                                <div class="sonata-ba-list {% if _list_filters|trim %}col-md-10{% else %}col-md-12{% endif %}">
                                    {{ _list_table|raw }}
                                </div>

                                {% if _list_filters|trim %}
                                    <div class="sonata-ba-filter col-md-2">
                                        {{ _list_filters|raw }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endblock sonata_admin_content %}
                </section>
            {% endblock sonata_page_content %}
        </aside>

    </div>
{% endblock sonata_wrapper %}
</body>
</html>
