{% extends 'UVBundlesFoundItBundle:Pages:layout.html.twig' %}

{% block subtitle %}About Us{% endblock %}

{% block content %}
    <div id="fi-about" class="fi-container">
        <div class="fi-container-title">
            <h1>About Us</h1>
        </div>
        <div class="inner">
            <p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie</p>
            <p><span class="quote_right">“Curabitur vulputate, ligula lacinia scele risque tempor, lacus lacus ornare ante, ac egestas est urna sit”</span>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante</p>
            <p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie</p>
        </div>
    </div>

{% endblock %}