{% extends 'UVBundlesFoundItBundle:Pages:layout.html.twig' %}

{% block subtitle %}Contact Us{% endblock %}

{% block content %}
    <div id="fi-contact" class="fi-container">
        <div class="fi-container-title">
            <h1>Contact Us</h1>
        </div>
        <div class="inner">
            <p>
                Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus.
            </p>

            <h3>By Email</h3>
            <p>
                admin@found.it<br />
                admin2@found.it<br />
                admin3@found.it
            </p>
            <h3>By Phone</h3>
            <p>
                (xxx) xxx-xxxx<br />
                (xxx) xxx-xxxx<br />
                (xxx) xxx-xxxx
            </p>
        </div>
    </div>

{% endblock %}