{% extends 'UVBundlesFoundItBundle:Pages:layout.html.twig' %}

{% block title %}Found It{% endblock %}

{% block content %}
    <div class="service_list service_list_2" id="fi-index">
        <!-- News -->
        <div class="post-item boxed">
            <div class="post-image">
                <a href="/extras/home-image.jpg" target="_blank" hidefocus="true">
                    <img src="/extras/home-image.jpg" alt="">
                </a>
            </div>
            <ul class="post-meta-links clearfix">
                <li class="post-meta post-date first"><a href="#" hidefocus="true"><span>August 30, 2014</span></a></li>
                <li class="post-meta post-author"><a href="#" hidefocus="true"><span>By Admin</span></a></li>
                <li class="post-meta post-comm"><a href="#" hidefocus="true"><span>14 Comments</span></a></li>
                <li class="post-meta post-read last"><a class="btn btn-icon-left" href="#" hidefocus="true" style="outline: none; opacity: 1;"><span>More</span></a></li>
            </ul>
            <div class="inner">
                <div class="post-title"><h2><a href="#" hidefocus="true">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dolore</a></h2></div>
                <div class="post-desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div><!-- News -->

        <div class="row">
            {% for i in ['lost', 'found'] %}
                <div class="col-sm-6 fi-item-reports">
                    <div class="service_item boxed margin-0">
                        <div class="inner">
                            <div class="service_title"><h2>Recently {{ i }} items</h2></div>
                            <div class="service_desc">
                                <div class="row">
                                    {% for j in fi[i] %}
                                        <div class="toggle boxed">
                                            <div class="toggle-header">
                                                <a class="toggle-link collapsed" data-toggle="collapse" href="#toggle-{{ i }}-{{ j.getId }}" hidefocus="true">
                                                    <h5><span class="{{ fi.urgencyMap[j.getUrgency].class }}" title="{{ fi.urgencyMap[j.getUrgency].title }}">{{ j.getName }}</span></h5>
                                                </a>
                                            </div>
                                            <div id="toggle-{{ i }}-{{ j.getId }}" class="toggle-body collapse" style="height: auto;">
                                                <div class="inner">
                                                    <p>
                                                        {{ j.getDescription }}<br /><br />
                                                        {{ j.getCreatedAt|date('d M Y H:i') }} | <a href="{{ url('uv_bundles_found_it_main_report_view', {'id' : j.getId}) }}">View</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="browse-all-btn">
            <a href="{{ url('uv_bundles_found_it_main_search') }}" class="btn" hidefocus="true">
                <span>Browse All</span>
            </a>
        </div>
    </div>
{% endblock %}