{% extends 'UVBundlesFoundItBundle:Pages:layout-index.html.twig' %}

{% block content %}
    <div id="view-container">
        <h2>
            Found It - A Lost and Found System
            <span>To begin, click any of the boxes below</span>
        </h2>
        <div class="view view-third">
            <img src="/extras/home.jpg" />
            <div class="mask">
                <h2>Home</h2>
                <p>Go to main page</p>
                <a href="{{ url('uv_bundles_found_it_main_home') }}" class="info">Proceed</a>
            </div>
        </div>
        <div class="view view-third">
            <img src="/extras/contact-us.jpg" />
            <div class="mask">
                <h2>Contact Us</h2>
                <p>Not sure what this is all about? Send us your concerns/inquiries.</p>
                <a href="{{ url('uv_bundles_found_it_main_contact') }}" class="info">Proceed</a>
            </div>
        </div>

        <div id="view-push"></div>

        <div class="view view-third">
            <img src="/extras/about-us.jpg" />
            <div class="mask">
                <h2>About</h2>
                <p>What is this all about? Can I trust this platform? How and when should I use this system?</p>
                <a href="{{ url('uv_bundles_found_it_main_about') }}" class="info">Proceed</a>
            </div>
        </div>
        <div class="view view-third">
            <img src="/extras/search.jpg" />
            <div class="mask">
                <h2>Search</h2>
                <p>Found something? Be honest! Return it to the owner. Lost something? Look for it!</p>
                <a href="{{ url('uv_bundles_found_it_main_search') }}" class="info">Proceed</a>
            </div>
        </div>
    </div>
{% endblock %}