/**
* Created on : Jul 8, 2014, 12:05:04 AM
* Author     : Aldee Mativo <07aldee@gmail.com>
*/

@charset "UTF-8";
@import "compass";

html {
    #fi-body {
        #fi-wrap {
            #fi-container {
                #fi-content {
                    #topmenu {
                        ul.boxed {
                            margin-bottom: 15px;
                        }
                        ul {
                            li {
                                a, input {
                                    outline: none;
                                }
								
								&.no-border-right {
									border-right: 0;
								}
								
								&.last {
									padding: 0;
									margin: 0;
									
									img {
										cursor: pointer;
										float: right;
									}
								}
                            }

                            &.dropdown ul.submenu-1 {
                                border: 0;
                            }
                        }
                    } // #topmenu
                    #fi-alerts {
                        margin-bottom: 15px;

                        > div.fi-alert {
                            width: 100%;
                            min-height: 30px;
                            border-radius: 3px;
                            padding: 10px;
                            color: #fffcf3;
                            line-height: 20px;
                            margin-bottom: 5px;
                            position: relative;

                            &.success {
                                background-color: #4daf7c;
                            }

                            &.error {
                                background-color: #d9534f;
                            }

                            &.warning {
                                background-color: #f06c44;
                            }

                            > b {
                                font-size: 18px;
                            }

                            > ul {
                                margin-left: 30px;
                                list-style-type: square;
                            }

                            > img {
                                width: 25px;
                                height: 25px;
                                position: absolute;
                                right: 10px;
                                top: 7px;
                            }

                            a {
                                color: #ccc;
                                text-decoration: underline;
                            }

                            a:hover { color: #fff; }
                        }
                    } // #fi-alerts

                    #fi-content-body {
                        min-height: 100px;
                    } // #fi-content-body

                    //------------------ begin inner pages common

                    .fi-form-field-error {
                        margin-top: 5px;
                        display: block;
                        color: #CA1;
                    }

                    .fi-container {
                        background-color: #fff;
                        padding: 110px 25px 50px 25px;
                        position: relative;

                        .fi-container-title {
                            height: 70px;
                            width: auto;
                            position: absolute;
                            left: 0;
                            top: 15px;
                            padding: 15px 40px 15px 50px;
                            color: #fff;
                            font-weight: bolder;
                            background-color: #338760;
                            font-size: 21px;
                            font-style: normal;

                            h1 {
                                color: #fff;
                                font-style: normal;
                                font-size: 25px;
                            }
                        }
                    }

                    .fi-tabs {
                        > ul {
                            li {
                                background: #eee;
                                display: inline-block;
                                padding: 20px;
                                font-size: 15px;
                                color: #A9A9A9;
                                cursor: pointer;

                                &.active {
                                    background: #338760;
                                    color: #eee;
                                }
                            }
                        }
                        > div {
                            display: none;
                            padding: 20px;

                            > div:last-child {
                                margin-bottom: 20px;
                            }
                        }
                    }

                    form .field_text label:not(.label_title) {
                        margin-bottom: 10px;
                    }

                    form .fi-submit-btn {
                        background-color: #338760;
                    }

                    .fi-colorpicker-container {
                        button, input {
                            float: left;
                            max-width: 100px;
                            height: 20px;
                            font-size: 10px;
                            padding: 0 10px;
                            text-align: center;
                            border-style: none;
                        }

                        button {
                            background-color: #A9A9A9;
                            margin-left: 3px;
                            &:hover {
                                background-color: #008B8B;
                            }
                        }

                        .fi-colorpicker {
                            float: left;
                        }
                    }

                    //------------------ end inner pages common

                    //------------------ begin inner pages-dedicated

                    #fi-index {
                        .jqcarousel {
                            .carousel-caption {
                                max-height: 175px;
                                padding: 20px 80px;
                                text-align: center;
                                overflow: hidden;

                                .slider-title a {
                                    font-size: 20px;
                                    line-height: 25px;
                                    font-style: normal;
                                }

                            }
                        } // #jqcarousel

                        .fi-item-reports .inner h2 {
                            color: #338760;
                        }

                        > .row {
                            width: 940px;
                            background-color: #fff;
                            margin: 0;
                        }

                        > .row .row div.boxed {
                            margin-bottom: 0px;
                            border-bottom: 1px solid #ccc;

                            div.inner > p {
                                text-align: justify;
                            }
                        }

                        .browse-all-btn {
                            background-color: #fff;
                            padding: 30px;
                            text-align: center;

                            > a {
                                width: 30%;
                                span::after {
                                    content: ' ';
                                    display: inline-block;
                                    width: 0;
                                    height: 0;
                                    border: 5px solid transparent;;
                                    border-left-color: #fff;
                                    margin-left: 10px;
                                }
                            }
                        }

                        .fi-item-reports .toggle-header a h5 {
                            color: #666;
                            font-size: 17px;

                            span::before {
                                content: ' ';
                                display: inline-block;
                                width: 0;
                                height: 0;
                                margin-right: 10px;
                                border: 5px solid transparent;
                            }
                        }

                        .fi-item-reports .toggle-header a h5 span.high::before {
                            border-bottom-color: #d2322d;
                        }

                        .fi-item-reports .toggle-header a h5 span.medium::before {
                            border-left-color: #f0ad4e;
                        }

                        .fi-item-reports .toggle-header a h5 span.low::before {
                            border-top-color: #ccc;
                        }


                    } // #fi-index

                    #fi-search {
                        .fi-result-header {
                            margin-top: 40px;
                            font-size: 20px;
                            font-weight: bolder;
                            margin-bottom: 10px;
                            border-bottom: 1px solid #ccc;
                            padding-bottom: 20px;
                        }

                        #fi-search-form {
                            div.field_text {
                                position: relative;

                                span {
                                    position: absolute;
                                    top: 3px;
                                    cursor: pointer;
                                    font-size: 14px;
                                    font-weight: bolder;
                                    font-family: Verdana;
                                    padding: 10px;
                                    color: #72CCF4;
                                    width: 30px;

                                    &.fi-xclose {
                                        right: 2px;
                                    }

                                    &.fi-xsearch {
                                        background: url('/bundles/uvbundlesfoundit/images/modern-ui/icons/search.png');
                                        background-repeat: no-repeat;
                                        top: 15px;
                                        right: 28px;
                                        width: 0px;
                                    }
                                }
                            }
                        }

                        #fi-search-result {
                            margin-top: 40px;

                            .fi-item-lost i, .fi-item-found i {
                                font-style: italic;
                            }

                            .row {
                                margin: 0px;
                                .fi-result-each h5 {
                                    font-size: 15px;
                                    > span {
                                        font-size: 10px;
                                        text-transform: uppercase;
                                        font-style: normal;
                                        margin-right: 5px;

                                        &.lost { color: #d2322d; }
                                        &.found { color: #4cae4c; }
                                    }
                                }

                                .fi-result-each h5 span::before {
                                    content: ' ';
                                    display: inline-block;
                                    width: 0;
                                    height: 0;
                                    margin-right: 5px;
                                    border: 5px solid transparent;
                                }

                                .fi-result-each h5 span.high::before {
                                    border-bottom-color: #d2322d;
                                }

                                .fi-result-each h5 span.medium::before {
                                    border-left-color: #f0ad4e;
                                }

                                .fi-result-each h5 span.low::before {
                                    border-top-color: #ccc;
                                }
                            }
                            .toggle.boxed {
                                margin-bottom: 5px;
                                border-bottom: 1px solid #ccc;
                            }

                        }

                        #fi-ajax-loader {
                            text-align: center;
                            margin: 40px;
                        }
                    } // #fi-search

                    #fi-register, #fi-login {
                        .fi-padtop-10 {
                            padding-top: 10px;
                        }
                    } // #fi-register, #fi-login

                    #fi-found {
                        .select2 {
                            width: 100%;
                        }
                    }

                    #fi-item-view {
                        .fi-tabs {
                            > div {
                                font-size: 15px;
                                padding-top: 50px;

                                > div {
                                    line-height: 25px;

                                    b {
                                        font-weight: bold;
                                        color: #777;
                                    }

                                    ul {
                                        list-style-type: square;
                                        margin-left: 50px;
                                    }

                                    .fi-color-prev {
                                        display: inline-block;
                                        margin-left: 10px;
                                        width: 15px;
                                        height: 15px;
                                    }

                                    .fi-claim-urgency::after {
                                        content: ' ';
                                        display: inline-block;
                                        width: 0;
                                        height: 0;
                                        margin-left: 5px;
                                        border: 5px solid transparent;
                                    }

                                    .fi-claim-urgency.high::after {
                                        border-bottom-color: #d2322d;
                                    }

                                    .fi-claim-urgency.medium::after {
                                        border-left-color: #f0ad4e;
                                    }

                                    .fi-claim-urgency.low::after {
                                        border-top-color: #ccc;
                                    }
                                }
                            }
                        }
                    }


                    //------------------ end inner pages-dedicated


                    //------------------ begin commons

                    select { min-height: 42px; }
                    a, input, textarea, select, button { outline: none; }
                    .fi-center {
                        text-align: center;
                    }
                    form {
                        .fi-field-25 {
                            width: 25%;
                            display: block;
                        }
                    }

                    //------------------ end commons

                } // #fi-content

                #fi-footer {
                    width: 100%;
                    text-align: center;
                    color: #777;
                    font-weight: bolder;
                    font-family: Verdana;
                    padding-top: 50px;
                    font-size: 12px;

                    img {
                        vertical-align: middle;
                    }
                } // #fi-footer


                a, input, button, img, .no-outline {
                    outline: none;
                }


            } // #fi-container
        } // #fi-wrap
    } // #fi-body
} // html

//-------------------------- overrides

// jquery ui

ul.ui-autocomplete {
    border: 1px solid #ddd;
    max-width: 410px;

    li {
        padding: 5px;
        color: #a9a9a9;
        &:hover {
            color: #AAA;
            border: none;
            cursor: pointer;
        }
    }
}

// select2

div.select2-container {
    outline: none;
    > ul.select2-choices {
        border: 1px solid #eceff1;
        border-top: 1px solid #d1d9dd;
        border-bottom: 1px solid #f2f2f2;
        min-height: 5px;
        li input {
            height: 25px;
        }
    }
}

.select2-container-multi .select2-choices .select2-search-choice {
    background: #338760;
    color: #fff;
    border-color: #338760;
}

.select2-results .select2-highlighted {
    background-color: #338760;
}

// modern-touch-ui

.field_text, .field_select {
    float: none;
}

textarea {
    padding-top: 5px;
}

// datetimepicker

.xdsoft_calendar th, td.xdsoft_date {
    vertical-align: middle;
    text-align: center;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current {
    background-color: #338760;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div:hover { background-color: #777 !important; }

