{% extends 'UVBundlesFoundItBundle:Pages:layout.html.twig' %}

{% block subtitle %}{{ fi.isUpdate ? 'Update report' : fi.labels.header|capitalize }}{% endblock %}

{%  form_theme fi.form 'UVBundlesFoundItBundle:Form:fields.html.twig' %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="fi-modal-reminder" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="Dismiss">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="fi-modal-reminder-label">Hi there!</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <b>Before writing your report</b>, please consider searching the item from the lost and found database.
                        Click <a href="{{ url('uv_bundles_found_it_main_search') }}">here</a> to proceed to the lost and found listing.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="fi-found" class="fi-container">
        <div class="fi-container-title">
            <h1>
                {{ fi.isUpdate ? 'Update ' ~ fi.reportType ~ ' report' : fi.labels.header }}
            </h1>
        </div>
        <form method="post" novalidate>
            <div class="fi-tabs form-inner">
                <ul>
                    <li class="active">{{ fi.labels.tab1_title }}</li>
                    <li>When and where?</li>
                    <li>{{ fi.labels.tab3_title }}</li>
                </ul>
                <!-- tab 1 -->
                <div>
                    <h3>{{ fi.labels.tab1_header }}</h3>
                    <div class="field_text">
                        <label for="itemName" class="">{{ fi.labels.tab1_label_itemName }}</label>
                        {{ form_row(fi.form.name, { 'attr' : { 'class' : 'input_middle required', 'hidefocus' : 'true' } }) }}
                    </div>
                    <div class="clear"></div>
                    <div class="field_text">
                        <label for="itemDescription" class="">Some Description?</label>
                        {{ form_row(fi.form.description, { 'attr' : { 'class' : 'input_middle required', 'hidefocus' : 'true', 'rows' : 7 } }) }}
                    </div>
                    <div class="clear"></div>
                    <div class="field_text">
                        <label for="itemUrgency" class="">{{ fi.labels.tab1_label_itemUrgency }}</label>
                        {{ form_row(fi.form.urgency, { 'attr' : { 'class' : 'fi-field-urgency input_middle required', 'hidefocus' : 'true' } }) }}
                    </div>
                    <div class="clear"></div>
                    <div class="field_text">
                        <label for="itemColor">
                            Some hints for color? But if you find this confidential, or for whatever reason it maybe, you can skip this field.<br /><br />
                            {{ form_row(fi.form.color, { 'attr' : { 'class' : 'fi-field-color' } }) }}
                        </label>
                    </div>
                </div>
                <!-- tab 2 -->
                <div>
                    <h3>{{ fi.labels.tab2_header }}</h3>
                    <div class="field_text">
                        <label for="location" class="">{{ fi.labels.tab2_label_location }}</label>
                        {{ form_row(fi.form.location, { 'attr' : { 'class' : 'input_middle required', 'hidefocus' : 'true', 'rows' : '7' } }) }}
                    </div>
                    <div class="clear"></div>
                    <div class="field_text">
                        <label for="dateTime">{{ fi.labels.tab2_label_dateTime }}</label>
                        {{ form_row(fi.form.date, { 'attr' : { 'class' : 'fi-field-settlementDate input_middle' } }) }}
                    </div>
                </div>
                <!-- tab 3 -->
                <div>
                    <h3>{{ fi.labels.tab3_header }}</h3>
                    <div class="field_text">
                        <label for="claimContactPerson" class="">Contact person</label>
                        {{ form_row(fi.form.settlement.contactPerson, { 'attr' : { 'class' : 'input_middle required', 'hidefocus' : 'true' } }) }}
                    </div>
                    <div class="clear"></div>
                    <div class="field_text">
                        <label for="claimContactDetails" class="">Please provide some contact details</label>
                        {{ form_row(fi.form.settlement.contactDetails, { 'attr' : { 'class' : 'input_middle required', 'hidefocus' : 'true', 'rows' : '6' } }) }}
                    </div>
                    <div class="clear"></div>
                    <div class="field_text">
                        <label for="settlementLocation" class="">{{ fi.labels.tab3_label_settlementLocation }}</label>
                        {{ form_row(fi.form.settlement.claimLocation, { 'attr' : { 'class' : 'input_middle required', 'hidefocus' : 'true', 'rows' : '6' } }) }}
                    </div>
                    <div class="clear"></div>
                    <div class="field_text">
                        <label for="settlementTimeFrom" class="">Time from</label>
                        {{ form_row(fi.form.settlement.claimTimeStart, { 'attr' : { 'class' : 'fi-field-settlementTime input_middle fi-field-25 fi-center' } }) }}
                    </div>
                    <div class="clear"></div>
                    <div class="field_text">
                        <label for="settlementTimeTo" class="">Time to</label>
                        {{ form_row(fi.form.settlement.claimTimeEnd, { 'attr' : { 'class' : 'fi-field-settlementTime input_middle fi-field-25 fi-center' } }) }}
                    </div>
                    <div class="clear"></div>
                    <div class="field_text">
                        <label for="settlementDays" class="">Days</label>
                        {{ form_row(fi.form.settlement.claimDays, { 'attr' : { 'class' : 'input_middle select2', 'hidefocus' : 'true', 'multiple' : 'multiple', 'placeholder' : 'Select day(s)' } }) }}
                    </div>
                    <div class="clear"></div>
                    <div class="rowSubmit">
                        {{ form_rest(fi.form) }}
                        <span class="btn btn-icon-left"><input type="submit" id="send" value="{{ fi.isUpdate ? 'Update Report' : 'Submit Report' }}" hidefocus="true" class="fi-submit-btn"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        (function() {
            {% if not fi.isUpdate %}
                setTimeout(function() {
                    $('#fi-modal-reminder').modal('show')
                }, 2000);
            {% endif %}

            FI.injectSelectPlaceholder('.fi-field-urgency', ' - Select -');
            FI.makeColorWheel('.fi-field-color');

            var settlementDate = $('.fi-field-settlementDate');
            settlementDate.datetimepicker({
                inline: true,
                format: 'Y-m-d H:i',
                maxDate: 0
            });
            $('.fi-field-settlementTime').datetimepicker({
                datepicker: false,
                format: 'H:i',
                minTime: '6:00',
                maxTime: '23:00'
            });

            if(settlementDate.val() == '') {
                settlementDate.val('{{ "now"|date("Y-m-d H:i") }}');
            }
        })();
    </script>
{% endblock %}