{% extends 'UVBundlesFoundItBundle:Pages:layout.html.twig' %}

{% block subtitle %}{{ fi.header }}{% endblock %}

{% block content %}
    <div id="fi-update-report" class="fi-container">
        <div class="fi-container-title">
            <h1>{{ fi.header }}</h1>
        </div>
        <form method="post">
            <div class="form-inner">
                <div class="field_text">
                    <h3>{{ fi.modeMap[fi.item.getType] }}: {{ fi.item.getName }}</h3>
                    <label class="control-label">{{ fi.question }}</label>
                </div>

                <div class="clear"></div>
                <div class="rowSubmit">
                    <input type="hidden" name="id" value="{{ fi.item.getId }}" />
                    <span class="btn btn-icon-left"><input type="submit" value="Confirm" hidefocus="true" class="fi-submit-btn"></span>
                </div>
            </div>
        </form>
    </div>
{% endblock %}