{% extends 'UVBundlesFoundItBundle:Pages:layout.html.twig' %}

{% block subtitle %}{{ fi.item.getName }}{% endblock %}

{% block content %}

    <div id="fi-item-view" class="fi-container">
        <div class="fi-container-title">
            <h1>{{ fi.modeMap.type[fi.item.getType] }}: {{ fi.item.getName|length > 25 ? fi.item.name|slice(0, 25) ~ '...' : fi.item.getName  }}</h1>
        </div>
        <div class="fi-tabs form-inner">
            <ul>
                <li class="active">Item information</li>
                <li>Turnover details</li>
                {% if fi.isOwner and fi.item.getStatus != fi.modeMap.claimedStatusValue %}<li>Manage</li>{% endif %}
            </ul>
            <!-- tab 1 -->
            <div>
                <div>
                    <b>Date {{ fi.modeMap.type[fi.item.getType]|lower }}</b>
                    <p>{{  fi.item.getDate|date('d M Y H:i') }}</p>
                </div>
                <div>
                    <b>Date reported</b>
                    <p>{{  fi.item.getCreatedAt|date('d M Y H:i') }}</p>
                </div>

                <div>
                    <hr />
                    <b>Item</b>
                    <p>{{  fi.item.getName }}</p>
                </div>
                <div>
                    <b>Description</b> <p>{{  fi.item.getDescription }}</p>
                </div>
                <div>
                    <b>Location</b> <p>{{  fi.item.getLocation }}</p>
                </div>
                {% if fi.item.getColor != 'none' %}
                    <div>
                        <b>Color</b>
                        <p>{{ fi.item.getColor }}<span class="fi-color-prev" style="background-color: {{ fi.item.getColor }};"></span></p>
                    </div>
                {% endif %}

                <div>
                    <hr />
                    <b>Claim Urgency</b>
                    <p class="fi-claim-urgency {{ fi.modeMap.urgency[fi.item.getUrgency]|lower }}">{{  fi.modeMap.urgency[fi.item.getUrgency] }}</p>
                </div>
            </div>
            <!-- tab 2 -->
            <div>
                <div>
                    <b>Contact person</b>
                    <p>{{ fi.item.settlement.contactPerson }}</p>
                </div>
                <div>
                    <b>Contact details</b>
                    <p>{{ fi.item.settlement.contactDetails }}</p>
                </div>
                <div>
                    <hr />
                    <b>{{ fi.modeMap.turnover[fi.item.getType] }} location</b>
                    <p>{{ fi.item.settlement.claimLocation }}</p>
                </div>
                <div>
                    <b>{{ fi.modeMap.turnover[fi.item.getType] }} time range</b>
                    <p>{{ fi.item.settlement.getClaimTimeStart }}-{{ fi.item.settlement.getClaimTimeEnd }}</p>
                </div>
                <div>
                    <b>{{ fi.modeMap.turnover[fi.item.getType] }} days</b>
                    <p>
                        <ul>
                            {% for i in fi.item.settlement.getClaimDays %}
                                <li>{{ fi.modeMap.days[i] }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
            <!-- tab 3 -->
            {% if fi.isOwner and fi.item.getStatus != fi.modeMap.claimedStatusValue %}
                <div>
                    <div>
                        <b>Select action</b>
                        <p>
                            <ul>
                                <li><a href="{{ url('uv_bundles_found_it_main_report_update', { 'id' : fi.item.getId }) }}">Edit</a></li>
                                <li><a href="{{ url('uv_bundles_found_it_main_report_my_report_delete', {'id' : fi.item.getId}) }}">Delete</a></li>
                                <li><a href="{{ url('uv_bundles_found_it_main_report_my_report_mark', {'id' : fi.item.getId}) }}">Mark as claimed</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}