/**
* Created on : Jul 8, 2014, 12:05:04 AM
* Author     : Aldee Mativo <07aldee@gmail.com>
*/
html #fi-body #fi-wrap #fi-container #fi-content #topmenu ul.boxed {
  margin-bottom: 15px; }
html #fi-body #fi-wrap #fi-container #fi-content #topmenu ul li a, html #fi-body #fi-wrap #fi-container #fi-content #topmenu ul li input {
  outline: none; }
html #fi-body #fi-wrap #fi-container #fi-content #topmenu ul li.no-border-right {
  border-right: 0; }
html #fi-body #fi-wrap #fi-container #fi-content #topmenu ul li.last {
  padding: 0;
  margin: 0; }
html #fi-body #fi-wrap #fi-container #fi-content #topmenu ul li.last img {
  cursor: pointer;
  float: right; }
html #fi-body #fi-wrap #fi-container #fi-content #topmenu ul.dropdown ul.submenu-1 {
  border: 0; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-alerts {
  margin-bottom: 15px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-alerts > div.fi-alert {
  width: 100%;
  min-height: 30px;
  border-radius: 3px;
  padding: 10px;
  color: #fffcf3;
  line-height: 20px;
  margin-bottom: 5px;
  position: relative; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-alerts > div.fi-alert.success {
  background-color: #4daf7c; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-alerts > div.fi-alert.error {
  background-color: #d9534f; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-alerts > div.fi-alert.warning {
  background-color: #f06c44; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-alerts > div.fi-alert > b {
  font-size: 18px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-alerts > div.fi-alert > ul {
  margin-left: 30px;
  list-style-type: square; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-alerts > div.fi-alert > img {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 7px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-alerts > div.fi-alert a {
  color: #ccc;
  text-decoration: underline; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-alerts > div.fi-alert a:hover {
  color: #fff; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-content-body {
  min-height: 100px; }
html #fi-body #fi-wrap #fi-container #fi-content .fi-form-field-error {
  margin-top: 5px;
  display: block;
  color: #CA1; }
html #fi-body #fi-wrap #fi-container #fi-content .fi-container {
  background-color: #fff;
  padding: 110px 25px 50px 25px;
  position: relative; }
html #fi-body #fi-wrap #fi-container #fi-content .fi-container .fi-container-title {
  height: 70px;
  width: auto;
  position: absolute;
  left: 0;
  top: 15px;
  padding: 15px 40px 15px 50px;
  color: #fff;
  font-weight: bolder;
  background-color: #338760;
  font-size: 21px;
  font-style: normal; }
html #fi-body #fi-wrap #fi-container #fi-content .fi-container .fi-container-title h1 {
  color: #fff;
  font-style: normal;
  font-size: 25px; }
html #fi-body #fi-wrap #fi-container #fi-content .fi-tabs > ul li {
  background: #eee;
  display: inline-block;
  padding: 20px;
  font-size: 15px;
  color: #A9A9A9;
  cursor: pointer; }
html #fi-body #fi-wrap #fi-container #fi-content .fi-tabs > ul li.active {
  background: #338760;
  color: #eee; }
html #fi-body #fi-wrap #fi-container #fi-content .fi-tabs > div {
  display: none;
  padding: 20px; }
html #fi-body #fi-wrap #fi-container #fi-content .fi-tabs > div > div:last-child {
  margin-bottom: 20px; }
html #fi-body #fi-wrap #fi-container #fi-content form .field_text label:not(.label_title) {
  margin-bottom: 10px; }
html #fi-body #fi-wrap #fi-container #fi-content form .fi-submit-btn {
  background-color: #338760; }
html #fi-body #fi-wrap #fi-container #fi-content .fi-colorpicker-container button, html #fi-body #fi-wrap #fi-container #fi-content .fi-colorpicker-container input {
  float: left;
  max-width: 100px;
  height: 20px;
  font-size: 10px;
  padding: 0 10px;
  text-align: center;
  border-style: none; }
html #fi-body #fi-wrap #fi-container #fi-content .fi-colorpicker-container button {
  background-color: #A9A9A9;
  margin-left: 3px; }
html #fi-body #fi-wrap #fi-container #fi-content .fi-colorpicker-container button:hover {
  background-color: #008B8B; }
html #fi-body #fi-wrap #fi-container #fi-content .fi-colorpicker-container .fi-colorpicker {
  float: left; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-index .jqcarousel .carousel-caption {
  max-height: 175px;
  padding: 20px 80px;
  text-align: center;
  overflow: hidden; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-index .jqcarousel .carousel-caption .slider-title a {
  font-size: 20px;
  line-height: 25px;
  font-style: normal; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-index .fi-item-reports .inner h2 {
  color: #338760; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-index > .row {
  width: 940px;
  background-color: #fff;
  margin: 0; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-index > .row .row div.boxed {
  margin-bottom: 0px;
  border-bottom: 1px solid #ccc; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-index > .row .row div.boxed div.inner > p {
  text-align: justify; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-index .browse-all-btn {
  background-color: #fff;
  padding: 30px;
  text-align: center; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-index .browse-all-btn > a {
  width: 30%; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-index .browse-all-btn > a span::after {
  content: ' ';
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #fff;
  margin-left: 10px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-index .fi-item-reports .toggle-header a h5 {
  color: #666;
  font-size: 17px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-index .fi-item-reports .toggle-header a h5 span::before {
  content: ' ';
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 10px;
  border: 5px solid transparent; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-index .fi-item-reports .toggle-header a h5 span.high::before {
  border-bottom-color: #d2322d; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-index .fi-item-reports .toggle-header a h5 span.medium::before {
  border-left-color: #f0ad4e; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-index .fi-item-reports .toggle-header a h5 span.low::before {
  border-top-color: #ccc; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search .fi-result-header {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-form div.field_text {
  position: relative; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-form div.field_text span {
  position: absolute;
  top: 3px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bolder;
  font-family: Verdana;
  padding: 10px;
  color: #72CCF4;
  width: 30px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-form div.field_text span.fi-xclose {
  right: 2px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-form div.field_text span.fi-xsearch {
  background: url("/bundles/uvbundlesfoundit/images/modern-ui/icons/search.png");
  background-repeat: no-repeat;
  top: 15px;
  right: 28px;
  width: 0px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-result {
  margin-top: 40px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-result .fi-item-lost i, html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-result .fi-item-found i {
  font-style: italic; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-result .row {
  margin: 0px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-result .row .fi-result-each h5 {
  font-size: 15px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-result .row .fi-result-each h5 > span {
  font-size: 10px;
  text-transform: uppercase;
  font-style: normal;
  margin-right: 5px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-result .row .fi-result-each h5 > span.lost {
  color: #d2322d; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-result .row .fi-result-each h5 > span.found {
  color: #4cae4c; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-result .row .fi-result-each h5 span::before {
  content: ' ';
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 5px;
  border: 5px solid transparent; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-result .row .fi-result-each h5 span.high::before {
  border-bottom-color: #d2322d; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-result .row .fi-result-each h5 span.medium::before {
  border-left-color: #f0ad4e; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-result .row .fi-result-each h5 span.low::before {
  border-top-color: #ccc; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-search-result .toggle.boxed {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-search #fi-ajax-loader {
  text-align: center;
  margin: 40px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-register .fi-padtop-10, html #fi-body #fi-wrap #fi-container #fi-content #fi-login .fi-padtop-10 {
  padding-top: 10px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-found .select2 {
  width: 100%; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-item-view .fi-tabs > div {
  font-size: 15px;
  padding-top: 50px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-item-view .fi-tabs > div > div {
  line-height: 25px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-item-view .fi-tabs > div > div b {
  font-weight: bold;
  color: #777; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-item-view .fi-tabs > div > div ul {
  list-style-type: square;
  margin-left: 50px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-item-view .fi-tabs > div > div .fi-color-prev {
  display: inline-block;
  margin-left: 10px;
  width: 15px;
  height: 15px; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-item-view .fi-tabs > div > div .fi-claim-urgency::after {
  content: ' ';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  border: 5px solid transparent; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-item-view .fi-tabs > div > div .fi-claim-urgency.high::after {
  border-bottom-color: #d2322d; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-item-view .fi-tabs > div > div .fi-claim-urgency.medium::after {
  border-left-color: #f0ad4e; }
html #fi-body #fi-wrap #fi-container #fi-content #fi-item-view .fi-tabs > div > div .fi-claim-urgency.low::after {
  border-top-color: #ccc; }
html #fi-body #fi-wrap #fi-container #fi-content select {
  min-height: 42px; }
html #fi-body #fi-wrap #fi-container #fi-content a, html #fi-body #fi-wrap #fi-container #fi-content input, html #fi-body #fi-wrap #fi-container #fi-content textarea, html #fi-body #fi-wrap #fi-container #fi-content select, html #fi-body #fi-wrap #fi-container #fi-content button {
  outline: none; }
html #fi-body #fi-wrap #fi-container #fi-content .fi-center {
  text-align: center; }
html #fi-body #fi-wrap #fi-container #fi-content form .fi-field-25 {
  width: 25%;
  display: block; }
html #fi-body #fi-wrap #fi-container #fi-footer {
  width: 100%;
  text-align: center;
  color: #777;
  font-weight: bolder;
  font-family: Verdana;
  padding-top: 50px;
  font-size: 12px; }
html #fi-body #fi-wrap #fi-container #fi-footer img {
  vertical-align: middle; }
html #fi-body #fi-wrap #fi-container a, html #fi-body #fi-wrap #fi-container input, html #fi-body #fi-wrap #fi-container button, html #fi-body #fi-wrap #fi-container img, html #fi-body #fi-wrap #fi-container .no-outline {
  outline: none; }

ul.ui-autocomplete {
  border: 1px solid #ddd;
  max-width: 410px; }
ul.ui-autocomplete li {
  padding: 5px;
  color: #a9a9a9; }
ul.ui-autocomplete li:hover {
  color: #AAA;
  border: none;
  cursor: pointer; }

div.select2-container {
  outline: none; }
div.select2-container > ul.select2-choices {
  border: 1px solid #eceff1;
  border-top: 1px solid #d1d9dd;
  border-bottom: 1px solid #f2f2f2;
  min-height: 5px; }
div.select2-container > ul.select2-choices li input {
  height: 25px; }

.select2-container-multi .select2-choices .select2-search-choice {
  background: #338760;
  color: #fff;
  border-color: #338760; }

.select2-results .select2-highlighted {
  background-color: #338760; }

.field_text, .field_select {
  float: none; }

textarea {
  padding-top: 5px; }

.xdsoft_calendar th, td.xdsoft_date {
  vertical-align: middle;
  text-align: center; }

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  background-color: #338760; }

.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  background-color: #777 !important; }
