{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% set map = object.getStatusMapLiteral %}
    {{ map[value|raw] is defined ? map[value|raw] : '' }}
{% endblock %}