{% extends 'UVBundlesFoundItBundle:Pages:layout.html.twig' %}

{% block subtitle %}Item Search{% endblock %}

{% block content %}

    <div id="fi-search" class="fi-container">
        <div class="fi-container-title">
            <h1>Item Search</h1>
        </div>
        <form id="fi-search-form">
            <div class="form-inner">
                <div class="field_text">
                    <input type="text" placeholder="Search an item" name="item" value="" class="inputtext input_middle required" hidefocus="true">
                    <span class="fi-xsearch" title="Search"></span>
                    <span class="fi-xclose" title="Reset">x</span>
                </div>
            </div>
        </form>

        <div class="form-inner fi-result-header">Item reports database</div>
        <div id="fi-ajax-loader">
            <img src="/bundles/uvbundlesfoundit/images/loader.gif" />
        </div>

        <div class="row" id="fi-search-result">
            {% for i in ['lost', 'found'] %}
                <div class="col-sm-6 fi-item-reports">
                    <div class="service_item boxed margin-0">
                        <div class="inner">
                            <div class="service_desc">
                                <div class="row fi-item-{{ i }}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        (function() {
            FI.loadSearch({
                ajaxUrl: '{{ url('uv_bundles_found_it_main_search_ajax') }}',
                viewUrl: '{{ url('uv_bundles_found_it_main_report_view', {'id' : 69}) }}',
            });
        })();
    </script>
{% endblock %}